.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 700px;
    gap: 20px;
    border-radius: 20px;
}

.main-box{
    display: flex;
    box-sizing: border-box;
}

.counter-app{
    font-size: 40px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.minus{
    height: 80px;
    width: 100px;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 72);
    color: white;
    border-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    box-sizing: border-box;
    user-select: none;
}

.number{
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(0, 0, 72);
    color: white;
    box-sizing: border-box;
    user-select: none;
}

.plus{
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    background-color: rgb(0, 0, 72);
    color: white;
    border-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 50px;
    padding-bottom: 10px;
    box-sizing: border-box;
    user-select: none;
}

.resetBtn{
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 72);
    color: white;
    border-color: white;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 10px;
    user-select: none;
}